body{
    margin: 0%;
    padding: 0%;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;

}
#sidebar{
    flex-basis: 25%;
}
#main-page{
    flex-basis: 75%;
}
/* resizing images */
#account-info img{
    height: 80px;
    width: 80px;
}
img{
    height: 35px;
    width: 35px;
}
.addImg img{
    height: 25px;
    width: 25px;
}

#sidebar{
    display: flex;
    flex-direction: column;
}

/*bars */
.bars{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    justify-content: flex-start;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}
.bars:hover{
    background-color:rgb(159, 185, 255);
    margin: 5px;
    border-radius: 10px;
}


/* account details section */
#account-info{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: rgb(176, 248, 186);
    border-radius: 15px;
    margin: 20px;
    margin-bottom: 10px;
    gap: 10px;
    height:15%;
}
.account-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.account-details span:first-child{
    font-style: italic;
    font-family: cursive;
    font-size: 25px;
    font-weight: bolder;
}
.account-details span:last-child{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;   
}

/* sidebar Main */
.sidebar-main-sec{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    margin: 20px;
    background-color: rgb(196, 212, 255);
    padding-left: 20px;
    padding-right: 20px;
}
.sec1{
    height: 20%;
}
.sec2{
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}
.hiddenContent{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(233, 233, 233);
    display: none;
}
.bar-container{
    display: flex;
    flex-direction: column;
}
.addImg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: bolder;
}
.addImg img:hover{
    height: 27px;
    width: 27px;
    box-shadow: 2px 2px 2px black;
}